body {
    height: 100%;
}
h1 {
    position: fixed;
    top: 50%;
    left: 50%;
    font-family: 'Encode Sans Condensed', sans-serif;
    text-align: center;
    font-size: 34px;
    color: #fb4040;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    background: -webkit-linear-gradient(15deg, #e04f30, #fad640);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}