body{
    background-color: #000000;
    margin: 0;
    padding: 0;
}

.find {
    margin: 50px auto;
    padding: 15px;
    background-color: #000000;
}

.find tr, .find th, .find td {
    padding: 20px;
}